@use "../../../styles/global/paragraphs";

.about-intro {
  position: relative;

  &-container {
    max-width: 100%;
    margin-left: 0;
    margin-right: auto;

    @media (min-width: 1024px) {
      max-width: 95rem;
    }
  }

  &-title {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 2rem;

    h2 {
      margin: 0;
      font-weight: 600;
    }
  }

  &-content {
    width: 100%;

    p {
      @extend .p-one;
    }
  }

  .lets-connect-card {
    top: 9rem;
    bottom: auto;
  }
}
