@use "../abstracts" as *;
@use "../utils";

.btn {
  @include utils.font-sizer(1.8, 2.3, 76.8, 150, 1.8);
  position: relative;
  display: inline-block;
  padding: 1rem 5rem 1rem 2rem;
  transition: all 0.3s ease;
  border: 0.2rem solid $tertiaryColor;
  border-radius: 0;
  background-color: $whiteColor;
  color: $blackColor;
  font-family: $primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  outline: none;

  &:focus {
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    color: $whiteColor;
    background-color: $tertiaryColor;
    border-color: $tertiaryColor;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: $tertiaryColor;
      cursor: not-allowed;
    }
  }

  &::after {
    position: absolute;
    top: 1.15rem;
    right: 2rem;
    display: block;
    content: "\2192";
  }
}

.btn-one {
  @extend .btn;
}

.btn-two {
  @extend .btn;
  background-color: $tertiaryColor;
  border-color: $tertiaryColor;
  color: $whiteColor;

  &:hover {
    background-color: $whiteColor;
    color: $secondaryColor;
  }
}

.btn-three {
  @extend .btn;
  background-color: $primaryColor;

  &:hover {
    background-color: $secondaryColor;
  }
}
