@use "../abstracts";
@use "../utils";

.headline-all {
  color: abstracts.$blackColor;
  font-family: abstracts.$secondaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.26;
}

.hl-one {
  @extend .headline-all;
  @include utils.font-sizer(5, 7.6, 76.8, 150, 4);
  line-height: 1;
}

.hl-two {
  @extend .headline-all;
  @include utils.font-sizer(4, 5.5, 76.8, 150, 3.5);
  line-height: 1;
}

.hl-three {
  @include utils.font-sizer(3.5, 4.5, 76.8, 150, 3);
  @extend .headline-all;
  line-height: 1.22;
}

.hl-four {
  @include utils.font-sizer(3, 3.5, 76.8, 160, 2.6);
  @extend .headline-all;
  font-family: abstracts.$primaryFont;
  line-height: 1.3;
}

.hl-five {
  @include utils.font-sizer(2, 2.9, 76.8, 160, 2);
  @extend .headline-all;
  font-family: abstracts.$primaryFont;
  line-height: 1.3;
}
