@use "../abstracts" as *;
@use "./paragraphs";
@use "./headlines";

.base-wysiwyg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  .post-edit-link {
    font-size: 1.6rem;
  }

  p {
    @extend .p-two;
    width: 100%;
  }

  a {
    @extend .p-two;
    transition: all 0.3s;
    color: $primaryColor;
    font-weight: bold;
    font-size: 1em;

    &:hover {
      color: $primaryColor;
    }
  }

  h1 {
    @extend .hl-one;
  }

  h2 {
    @extend .hl-two;
  }

  h3 {
    @extend .hl-three;
  }

  h4 {
    @extend .hl-four;
  }

  h5 {
    @extend .hl-five;
  }

  h6 {
    @extend .hl-six;
  }

  ul {
    margin-bottom: 2.5rem;

    li {
      @extend .p-two;
      color: $blackColor;
      position: relative;
      margin-bottom: 0.5em;
      padding-left: 0.75em;

      &::before {
        position: absolute;
        top: 0em;
        left: 0;
        padding-right: 0.5em;
        color: rgba($blackColor, 0.75);
        content: "\2022";
      }

      ul {
        margin-top: 0.5rem;
        li {
          margin-bottom: 0.25em;

          &::before {
            content: "\2013";
          }
        }
      }
    }
  }

  img {
    display: block !important;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;

    &.alignleft {
      float: left;
      margin-right: 2rem;
    }

    &.alignright {
      float: right;
      margin-left: 2rem;
    }

    &.aligncenter {
      margin: 0 auto;
    }
  }
}
