@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";

.simple-intro {
  width: 100%;

  &-content {
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding: 2rem 0 0 0;
    max-width: 100rem;

    @media (min-width: 768px) {
      padding: 6rem 0 2rem 0;
    }

    p {
      @extend .hl-four;
      color: $secondaryColor;
      font-weight: normal;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
