@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/paragraphs";
@use "../../../styles/global/headlines";
$img-bar: url("/green-bar.png");

.content-side-image {
  margin-top: 5rem;
  margin-bottom: 5rem;

  &-left {
    width: 100%;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
      width: calc(50% - 3rem);
      margin-right: 3rem;
      margin-bottom: 0;
    }

    &-titles {
      width: 100%;
      margin-bottom: 4rem;

      p {
        color: $secondaryColor;
        margin: 0;
      }

      h2 {
        margin: 0;
        font-weight: 600;
        line-height: 1.09;
      }
    }

    &-content {
      width: 100%;

      p {
        @extend .p-one;
      }
    }
  }

  &-right {
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
      width: calc(50% - 3rem);
      margin-left: 3 rem;
    }

    &-image {
      position: relative;
    }

    &-bar {
      display: block;
      position: absolute;
      bottom: -1.5rem;
      right: 0rem;
      width: calc(175rem / 4);
      height: calc(7.4rem / 4);
      background-image: $img-bar;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      z-index: -1;

      @media (min-width: 768px) {
        bottom: -1.5rem;
        right: 5rem;
        width: calc(175rem / 5);
        height: calc(7.4rem / 5);
      }

      @media (min-width: 1025px) {
        bottom: -1.5rem;
        right: 10rem;
        width: calc(175rem / 4);
        height: calc(7.4rem / 4);
      }

      @media (min-width: 1200px) {
        bottom: -2rem;
        right: 12rem;
        width: calc(175rem / 3.3);
        height: calc(7.4rem / 3.3);
      }

      @media (min-width: 1600px) {
        bottom: -2.5rem;
        right: 17rem;
        width: calc(175rem / 3);
        height: calc(7.4rem / 3);
      }
    }
  }
}
