$primaryColor: #005fbe;
$secondaryColor: #da2b1f;
$tertiaryColor: #ffac00;
$accentColor: #d0d4e3;
$shadowColor: #005fbe;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;

$oldBlueColor: #1a2d52;
