$primaryColor: #1d6f3a;
$secondaryColor: #1a2d52;
$tertiaryColor: #d0b42d;
$accentColor: #f2f2f2;
$shadowColor: #1d6f3a;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
