$primaryColor: #401e1e;
$secondaryColor: #f1dab2;
$tertiaryColor: #401e1e;
$accentColor: #f1dab2;
$shadowColor: #401e1e;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
