@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/wrappers";
@use "../../../styles/global/headlines";

$img-bar: url("/green-bar.png");

.related-projects {
  position: relative;
  margin-top: 5rem;

  &-bar {
    display: block;
    position: absolute;
    bottom: -1rem;
    right: -30rem;
    width: calc(175rem / 2.5);
    height: calc(7.4rem / 2.5);
    background-image: $img-bar;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    z-index: -1;

    @media (min-width: 768px) {
      bottom: 6.5rem;
      right: -15rem;
      width: calc(175rem / 4);
      height: calc(7.4rem / 4);
    }

    @media (min-width: 1025px) {
      bottom: 4rem;
      right: -20rem;
      width: calc(175rem / 3);
      height: calc(7.4rem / 3);
    }

    @media (min-width: 1200px) {
      bottom: 4rem;
      right: -10rem;
      width: calc(175rem / 3);
      height: calc(7.4rem / 3);
    }

    @media (min-width: 1600px) {
      bottom: 4rem;
      right: -5rem;
      width: calc(175rem / 2.75);
      height: calc(7.4rem / 2.75);
    }
  }

  &-wrapper {
    @extend .wrap-med;
  }

  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      color: $primaryColor;
      text-transform: capitalize;
      font-weight: 600;
      text-align: center;
    }
  }

  &-slider {
    width: 100%;
    padding-bottom: 5rem;

    .slick-arrow {
      top: auto;
      bottom: -4rem;
      width: 4.4rem;
      height: 4.4rem;
      border: 0.1rem solid #a5a5a5;
      z-index: 999;

      @media (min-width: 768px) {
        bottom: -4rem;
      }
      @media (min-width: 1025px) {
        bottom: -4rem;
      }

      &::before {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 3rem;
        color: #a5a5a5;
      }
    }

    .slick-prev {
      left: calc(50% - 8.8rem);

      @media (min-width: 768px) {
        left: calc(50% - 8.8rem);
      }

      @media (min-width: 1025px) {
        left: calc(50% - 1rem);
        transform: translateX(-50%);
      }
    }

    .slick-next {
      right: auto;
      left: calc(50% + 4.4rem);

      @media (min-width: 768px) {
        left: calc(50% + 4.4rem);
      }

      @media (min-width: 1025px) {
        left: calc(50% + 1rem);
        transform: translateX(50%);
      }
    }

    .slick-list {
      padding-left: 0px !important;

      .slick-track {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: stretch;
        padding-bottom: 5rem;

        .slick-slide {
          align-self: stretch;
        }
      }
    }
  }

  &-slider-no-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .project-slide {
      width: calc(100%);

      @media (min-width: 768px) {
        width: calc(50% - 2rem);
        margin: 1rem;
      }

      @media (min-width: 1025px) {
        width: calc(33.333333% - 2rem);
        margin: 1rem;
      }
    }
  }
}
