@use "../../../styles/global/wrappers";
@use "../../../styles/global/headlines";

.markets-slider {
  margin-top: 5rem;

  &-wrapper {
    @extend .wrap-med;
  }

  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .slick-arrow {
    top: -6.35rem;
    width: 4.4rem;
    height: 4.4rem;
    border: 0.1rem solid #a5a5a5;
    z-index: 999;

    @media (min-width: 768px) {
      top: -7rem;
    }
    @media (min-width: 1025px) {
      top: -7.5rem;
    }

    &::before {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 3rem;
      color: #a5a5a5;
    }
  }

  .slick-prev {
    left: calc(85% - 4.4rem);

    @media (min-width: 768px) {
      left: calc(90% - 4.4rem);
    }

    @media (min-width: 1025px) {
      left: calc(85% - 4.4rem);
    }
  }

  .slick-next {
    right: calc(15% - 4.4rem);

    @media (min-width: 768px) {
      right: calc(10% - 4.4rem);
    }

    @media (min-width: 1025px) {
      right: calc(15% - 4.4rem);
    }
  }

  .slick-list {
    padding-left: 0px !important;

    .slick-track {
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: stretch;
      padding-bottom: 5rem;

      .slick-slide {
        align-self: stretch;
      }
    }
  }
}
