@use "../../../../../styles/abstracts/" as *;
@use "../../../../../styles/global/paragraphs.scss";

.main-form-textarea {
  width: calc(100%);
  margin-bottom: 3rem;

  @media (min-width: 768px) {
    width: calc(50% - 2rem);
    margin-right: 2rem;
  }

  &-full {
    @media (min-width: 768px) {
      width: calc(100% - 2rem);
      margin-right: 2rem;
    }
  }

  label {
    @extend .p-two;
    display: block;
    width: 100%;
    color: $blackColor;

    &:hover {
      cursor: initial;
    }
  }

  textarea {
    @extend .p-two;
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: rgba(11, 34, 78, 0.1);
    border-radius: 0;
    color: $blackColor;
  }
}
