@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/paragraphs.scss";

.cat-nav {
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      position: relative;
      margin-right: 1rem;
      padding-right: 1rem;

      &::after {
        @extend .p-one;
        position: absolute;
        top: 0;
        right: -0.25rem;
        content: "|";
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      a {
        @extend .p-one;
        text-transform: uppercase;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }
}
