@use "../styles/abstracts/" as *;

.header {
  position: relative;
  width: 100%;
  padding-top: 0rem;
  border-top: 1rem solid $secondaryColor;
  z-index: 999999;

  @media (min-width: 768px) {
  }
  @media (min-width: 1025px) {
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      padding-top: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
    }

    @media (min-width: 1025px) {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  &-logo {
    max-width: 30rem;

    @media (min-width: 768px) {
      max-width: 30rem;
      width: calc(100%);
      margin: 0 auto;
    }

    @media (min-width: 1040px) {
      width: calc(15%);
    }

    @media (min-width: 1425px) {
      max-width: 21rem;
    }

    h1 {
      margin: 0;
      span {
        position: absolute;
        left: -999%;
      }
    }
  }

  &-navigation {
    display: none;

    @media (min-width: 769px) {
      display: flex;
      width: calc(100%);
    }

    @media (min-width: 1040px) {
      width: calc(85%);
      align-self: flex-end;
    }
  }

  &-social {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      bottom: -5.5rem;
      right: 5vw;
    }

    @media (min-width: 1025px) {
      bottom: -5.5rem;
      right: 0;
    }

    .social-media {
      width: 20rem;

      &-link {
        a {
          @media (min-width: 768px) {
            width: 3.25rem;
            height: 3.25rem;
            padding: 0.6rem;
          }

          @media (min-width: 1025px) {
            width: 3.25rem;
            height: 3.25rem;
            padding: 0.6rem;
          }
        }
      }
    }
  }

  &-mobile {
    display: block;

    @media (min-width: 769px) {
      display: none;
    }
  }
}
