@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";

.hero-call-out {
  position: relative;
  min-height: 50rem;

  @media (min-width: 768px) {
    min-height: 60rem;
  }

  @media (min-width: 1025px) {
    min-height: 70rem;
  }

  &-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: absolute;
    width: 100%;
    bottom: 15%;
    left: 0;
    background-color: rgba($primaryColor, 0.75);
    z-index: 10;

    &-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      background-color: rgba($oldBlueColor, 1);
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      padding: 2rem 2rem;

      @media (min-width: 550px) {
        padding: 5rem 7rem;
      }

      &-inner {
        width: 100%;
      }

      h2 {
        margin-top: 0;
        color: $accentColor;
        font-weight: 600;
      }

      p {
        @extend .hl-five;
        line-height: 1.31;
        color: $whiteColor;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  &-bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}
