@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/wrappers";

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  overflow-x: scroll;

  .wrapper {
    @extend .wrap-med;
  }

  .menu-logo {
    width: 100%;
    max-width: 12.5rem;
    margin: 0.5rem auto 2rem;
    background-color: $whiteColor;
  }

  .menu-secondary-background-color {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondaryColor;
    z-index: -1;
  }

  .menu-secondary-background-color-two {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    z-index: -1;
  }

  .menu-layer {
    position: relative;
    background-color: $primaryColor;
    height: 100%;
    overflow-x: scroll;
    z-index: 10;

    .menu-links {
      width: 100%;
      margin-top: 5rem;

      nav {
        ul {
          width: 100%;

          .menu-links-item {
            overflow: hidden;
          }
        }
      }
    }
  }
}
